.DS_Store
20250214 summary_statistics_categories.txt
questions_to_ask.txt
yolov8n.pt
OUTPUT/category_distribution_pie_chart.png
OUTPUT/person_count_distribution_pie_chart.png
OUTPUT/IM_TEXT_DESCRIPTION/~Prompts.rtf
OUTPUT/IM_TEXT_DESCRIPTION/~Result from a Q to ChatGPT-4o.png
OUTPUT/IM_TEXT_DESCRIPTION/1.png
OUTPUT/IM_TEXT_DESCRIPTION/1.txt
OUTPUT/IM_TEXT_DESCRIPTION/20250214 GWA Logo LONG WHITE LIGHT.png
OUTPUT/IM_TEXT_DESCRIPTION/2.png
OUTPUT/IM_TEXT_DESCRIPTION/2.txt
OUTPUT/IM_TEXT_DESCRIPTION/20250217 GWA Reviewer Report Cover.pdf
OUTPUT/IM_TEXT_DESCRIPTION/20250217 GWA Reviewer Report Cover.png
OUTPUT/IM_TEXT_DESCRIPTION/aggregated summary.rtt
OUTPUT/IM_TEXT_DESCRIPTION/aggregated summary.txt
OUTPUT/IM_TEXT_DESCRIPTION/executive summary.txt
OUTPUT/IM_TEXT_DESCRIPTION/report conclusion.txt
OUTPUT/IM_TEXT_DESCRIPTION/report insights.txt
OUTPUT/IM_TEXT_DESCRIPTION/report preamble.txt
OUTPUT/IM_TEXT_DESCRIPTION/Report_20250218.pdf
OUTPUT/IM_TEXT_DESCRIPTION/wordcloud.png
OUTPUT/IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.10 pm.png
OUTPUT/IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.10 pm.rtf
OUTPUT/IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.35 pm.png
OUTPUT/IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.35 pm.rtf
OUTPUT/images_descriptions.csv
OUTPUT/responses.csv
OUTPUT/summary_statistics.csv
IM_TEXT_DESCRIPTION/~Prompts.rtf
IM_TEXT_DESCRIPTION/~Result from a Q to ChatGPT-4o.png
IM_TEXT_DESCRIPTION/1.png
IM_TEXT_DESCRIPTION/1.txt
IM_TEXT_DESCRIPTION/2.png
IM_TEXT_DESCRIPTION/2.txt
IM_TEXT_DESCRIPTION/20250214 GWA Logo LONG WHITE LIGHT.png
IM_TEXT_DESCRIPTION/20250217 GWA Reviewer Report Cover.pdf
IM_TEXT_DESCRIPTION/20250217 GWA Reviewer Report Cover.png
IM_TEXT_DESCRIPTION/aggregated summary.rtt
IM_TEXT_DESCRIPTION/aggregated summary.txt
IM_TEXT_DESCRIPTION/executive summary.txt
IM_TEXT_DESCRIPTION/report conclusion.txt
IM_TEXT_DESCRIPTION/report insights.txt
IM_TEXT_DESCRIPTION/report preamble.txt
IM_TEXT_DESCRIPTION/Report_20250218.pdf
IM_TEXT_DESCRIPTION/wordcloud.png
IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.10 pm.png
IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.10 pm.rtf
IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.35 pm.png
IM_TEXT_DESCRIPTION/ORIG/Screenshot 2025-02-15 at 5.58.35 pm.rtf
OUTPUT/Report_20250218.pdf
report conclusion.txt
report insights.txt
20250310 Extract Info from Links to add to AEC Startups  DB/aec_companies.csv
20250310 Extract Info from Links to add to AEC Startups  DB/20250310_AEC_Startups_to_add_to_DB.rtf
